/* ----------------------------------------------- kgdeGallery styles
----------------------------------------------- */
/* generate: sass --style compact --line-numbers kgdeGallery.scss kgdeGallery.css sass --style compressed kgdeGallery.scss kgdeGallery.css
 watch sass --style compact --line-numbers --watch kgdeGallery.scss:kgdeGallery.css
*/
/* global settings */
/* media queries */
/* favourite mixins */
/* line 2, scss/_layout.scss */
body { overflow-x: hidden; height: 100.1%; font-family: verdana, sans-serif; }

/* line 8, scss/_layout.scss */
body, html { height: 100.1%; }

/* line 12, scss/_layout.scss */
h1 { font-size: 22px; font-weight: 400; padding: 0 0 20px 0; }

/* line 18, scss/_layout.scss */
h3 { font-size: 18px; font-weight: 400; padding: 0 0 20px 0; }

/* line 24, scss/_layout.scss */
p { padding: 0 0 20px 0; }

/* line 28, scss/_layout.scss */
#main { margin: auto; max-width: 1000px; width: 100%; padding: 20px 30px 20px 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

/* line 36, scss/_layout.scss */
* { padding: 0; margin: 0; }

/* line 2, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList { width: 100%; overflow: hidden; position: relative; padding: 10px 0 10px 0; }
/* line 8, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList * { /*
-webkit-user-select: none;
-webkit-user-drag: none;
*/ user-select: none; user-drag: none; }
/* line 17, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList ul { list-style: none; display: flex; transform: translate(0, 0); }
/* line 22, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList ul li { flex-basis: 25%; flex-shrink: 0; border-top: 2px solid #999; border-bottom: 2px solid #999; }
/* line 28, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList ul li > div { position: relative; width: 100%; padding-top: 100%; background: #e9e9e9; }
/* line 34, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList ul li > div .kgdeGalleryThumb { position: absolute; left: 0; top: 0; width: 100%; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; border: 1px solid #e9e9e9; border-top: 4px solid #e9e9e9; border-bottom: 4px solid #e9e9e9; background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; }
/* line 48, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList ul li > div .kgdeGalleryThumb > div { display: none; }
/* line 53, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList ul li > div .kgdeGalleryInfo { display: none; }
@media (min-width: 499px) { /* line 22, scss/_kgdeGalleryThumbList.scss */
  .kgdeGalleryThumbList ul li { flex-basis: 16.66%; } }
@media (min-width: 799px) { /* line 22, scss/_kgdeGalleryThumbList.scss */
  .kgdeGalleryThumbList ul li { flex-basis: 12.5%; } }
/* line 66, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList ul li.kgdeGallerySelected > div { opacity: 0.5; }
/* line 71, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList ul.sliderAnimation { transition: transform 0.2s ease-out; }
/* line 76, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList .kgdeGalleryGoBack { left: 0.8%; }
/* line 79, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList .kgdeGalleryGoBack:after { transform: rotate(-45deg); left: 33%; }
/* line 84, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList .kgdeGalleryGoNext { right: 0.8%; }
/* line 87, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList .kgdeGalleryGoNext:after { transform: rotate(135deg); right: 33%; }

/* line 94, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList .kgdeGalleryGoBack, .kgdeGalleryThumbList .kgdeGalleryGoNext { position: absolute; top: 50%; width: 3.2%; padding-top: 3.2%; z-index: 100; margin: -1.6% 0 0 0; opacity: 0.8; display: none; cursor: pointer; border-radius: 50%; background: #ffffff; }
@media (min-width: 799px) { /* line 94, scss/_kgdeGalleryThumbList.scss */
  .kgdeGalleryThumbList .kgdeGalleryGoBack, .kgdeGalleryThumbList .kgdeGalleryGoNext { display: block; } }
/* line 111, scss/_kgdeGalleryThumbList.scss */
.kgdeGalleryThumbList .kgdeGalleryGoBack:after, .kgdeGalleryThumbList .kgdeGalleryGoNext:after { content: ''; position: absolute; top: 25%; width: 50%; height: 50%; border-left: 2px solid #000000; border-top: 2px solid #000000; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

/* line 2, scss/_kgdeGalleryDetailView.scss */
.kgdeGalleryDetailView { margin: auto; max-width: 1000px; }
@media (min-width: 499px) { /* line 2, scss/_kgdeGalleryDetailView.scss */
  .kgdeGalleryDetailView { display: flex; justify-content: space-between; align-items: center; } }
/* line 13, scss/_kgdeGalleryDetailView.scss */
.kgdeGalleryDetailView .kgdeGalleryImages { position: relative; height: 67vw; }
@media (min-width: 499px) { /* line 13, scss/_kgdeGalleryDetailView.scss */
  .kgdeGalleryDetailView .kgdeGalleryImages { max-height: 500px; height: 42vw; flex-basis: 68%; } }
/* line 23, scss/_kgdeGalleryDetailView.scss */
.kgdeGalleryDetailView .kgdeGalleryImages .kgdeGalleryImage { position: absolute; display: flex; justify-content: center; left: 0; top: 0; height: 100%; width: 100%; }
/* line 33, scss/_kgdeGalleryDetailView.scss */
.kgdeGalleryDetailView .kgdeGalleryImages .kgdeGalleryImage img { max-height: 100%; max-width: 100%; width: auto; align-self: center; }
/* line 40, scss/_kgdeGalleryDetailView.scss */
.kgdeGalleryDetailView .kgdeGalleryImages .kgdeGalleryImage:first-child { transform: scale(1); opacity: 1; animation-name: imageFade; animation-duration: 0.2s; animation-timing-function: ease-out; animation-fill-mode: forwards; animation-delay: 0.3s; }
/* line 51, scss/_kgdeGalleryDetailView.scss */
.kgdeGalleryDetailView .kgdeGalleryImages .kgdeGalleryImage:last-child { transform: scale(0.3); opacity: 0; animation-name: imageAppear; animation-duration: 0.2s; animation-timing-function: ease-out; animation-fill-mode: forwards; animation-delay: 0.3s; }
/* line 65, scss/_kgdeGalleryDetailView.scss */
.kgdeGalleryDetailView .kgdeGalleryDescription div a { font-size: 12px; font-family: arial; color: #000000; }
@media (min-width: 499px) { /* line 64, scss/_kgdeGalleryDetailView.scss */
  .kgdeGalleryDetailView .kgdeGalleryDescription { flex-basis: 28%; } }

@keyframes imageAppear { 0% { transform: scale(0.3); opacity: 0; }
  100% { transform: scale(1); opacity: 1; } }
@keyframes imageFade { 0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.3); opacity: 0; } }
/* line 3, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay { display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 10000; overflow: hidden; background: #777777; }
/* line 14, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay * { /*
-webkit-user-select: none;
-webkit-user-drag: none;
*/ user-select: none; user-drag: none; }
/* line 23, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay.kgdeImageViewerActive { display: block; }
/* line 27, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerWrapper { width: 100%; height: 100%; position: relative; overflow: visible; }
/* line 33, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerWrapper.kgdeImageViewerAnim { transition: transform 0.2s ease-out; }
/* line 37, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerWrapper .kgdeImageViewer { width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: flex; justify-content: center; align-items: center; }
/* line 48, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerWrapper .kgdeImageViewer img { max-height: 96%; max-width: 96%; width: auto; height: auto; object-fit: contain; /*
@media (min-resolution: 192dpi) { max-width: 1000px; max-width: 1000px;
}
*/ }
/* line 63, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerWrapper .kgdeImageViewer:first-child { left: -100%; }
/* line 66, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerWrapper .kgdeImageViewer:last-child { left: 100%; }
/* line 72, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerClose { position: fixed; top: 10px; right: 10px; z-index: 20000; width: 40px; height: 40px; border-radius: 50%; display: flex; justify-content: center; align-items: center; background: #ffffff; color: #777777; font-size: 18px; text-transform: uppercase; font-family: sans-serif; cursor: pointer; }
@media (min-width: 499px) { /* line 72, scss/_kgdeGalleryImageViewer.scss */
  .kgdeImageViewerOverlay .kgdeImageViewerClose { font-size: 22px; width: 40px; height: 40px; } }
@media (min-width: 799px) { /* line 72, scss/_kgdeGalleryImageViewer.scss */
  .kgdeImageViewerOverlay .kgdeImageViewerClose { right: 1%; } }
/* line 105, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerGoBack { left: 1%; transition-delay: 0.1s !important; }
/* line 110, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerGoBack:after { left: 35%; transform: rotate(-45deg); }
/* line 117, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerGoNext { right: 1%; transition-delay: 0.2s !important; }
/* line 122, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerGoNext:after { transform: rotate(135deg); right: 35%; }
/* line 130, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay.kgdeImageViewerShowTools .kgdeImageViewerGoBack, .kgdeImageViewerOverlay.kgdeImageViewerShowTools .kgdeImageViewerGoNext, .kgdeImageViewerOverlay.kgdeImageViewerShowTools .kgdeImageViewerClose { transform: scale(1); opacity: 1; }
/* line 135, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay.kgdeImageViewerShowTools .kgdeImageViewerGoBack:hover, .kgdeImageViewerOverlay.kgdeImageViewerShowTools .kgdeImageViewerGoNext:hover, .kgdeImageViewerOverlay.kgdeImageViewerShowTools .kgdeImageViewerClose:hover { transform: scale(1.2); }

/* line 142, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerClose, .kgdeImageViewerOverlay .kgdeImageViewerGoBack, .kgdeImageViewerOverlay .kgdeImageViewerGoNext { opacity: 0; transform: scale(0); transition: all 0.4s ease-out; }

/* line 148, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerGoBack, .kgdeImageViewerOverlay .kgdeImageViewerGoNext { position: fixed; top: 50%; width: 4.4%; padding-top: 4.4%; z-index: 100; margin: -1.6% 0 0 0; display: none; cursor: pointer; border-radius: 50%; background: rgba(0, 0, 0, 0.5); }
@media (min-width: 799px) { /* line 148, scss/_kgdeGalleryImageViewer.scss */
  .kgdeImageViewerOverlay .kgdeImageViewerGoBack, .kgdeImageViewerOverlay .kgdeImageViewerGoNext { display: block; } }
/* line 164, scss/_kgdeGalleryImageViewer.scss */
.kgdeImageViewerOverlay .kgdeImageViewerGoBack:after, .kgdeImageViewerOverlay .kgdeImageViewerGoNext:after { content: ''; position: absolute; top: 25%; width: 50%; height: 50%; border-left: 4px solid #ffffff; border-top: 4px solid #ffffff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

/*# sourceMappingURL=kgdeGallery.css.map */
