
    /* global settings */

    $gfxPath: "../gfx/";


    /* media queries */
    $bpFull:                "(min-width: 999px)";
    $bpMedium:              "(min-width: 799px)";
    $bpSmall:               "(min-width: 499px)";

    $overlayBgColor:        #222;
